<h1>What's going on around Active?</h1>
<p>You're lookin' at a rudimentary activity feed from your friends</p>
<div class="activities-container">
  <div class="activities-heading">
    <div>What Happened?</div>
    <div>When?</div>
    <div>By whom?</div>
  </div>
  <h4>what are your friends up to?</h4>
  <div id="feed">
    <% unless @updates.empty? %>
      <% @updates.each do |update| %>
        <div class="feed-item">
          <div class="body">
            <div><%= update.name %> <%= update.action %> <%= link_to(update.item, update.link) %> <%= time_ago_in_words(update.date) %> ago.</div>
            <div class="details">
              <%= link_to 'More Details', update %>
            </div>
          </div>
          <div class="delete">
            <%= link_to 'x', update, :confirm => 'Are you sure?', :method => :delete %>
          </div>
          <br class="clear">
        </div>
      <% end %>
    <% end %>
  </div>
</div>