<h1>What's going on around Active?</h1>
<p>You're lookin' at a rudimentary activity feed from your friends</p>
<div class="activities-container">
  <div class="activities-heading">
    <div>What Happened?</div>
    <div>When?</div>
    <div>By whom?</div>
  </div>
    <% @activities.each do |activity| %>
      <div class="what">
        <%= activity.description %>
      </div>
      <div>
        <%= activity.performed_by %>
      </div>
      <div class="details">
        <div class="when">
          <%= activity.date %>
        </div>
        <div><%= link_to 'More Details', activity %></div>
        <div><%= link_to 'Delete', activity, :confirm => 'Are you sure?', :method => :delete %></div>
      </div>
    <% end %>
</div>