<%= form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt40">Someone named <%= f.text_field :name, :id => "name", :placeholder => "Jesus" %> just <%= f.text_field :action, :id => "action", :placeholder => "signed up for" %> <%= f.text_field :item, :id => "item", :placeholder => "the Walk On Water 5k" %> (you can see more details about it at this url: <%= f.text_field :link, :id => "link", :placeholder => "www.heaven.com" %>) on <%= f.date_select :date, :id => "date", :placeholder => "03/30/2012" %>.  
  </div>
  <div id="private">If this should be kept private, check this box: <%= f.check_box :private %></div>
  <div class="actions">
    <%= f.submit :value => "Okay, I'm done with this »", :id => "submit" %>
  </div>
  <br><br>
<% end %>
