<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Date:</b>
  <%= @activity.date %>
</p>

<p>
  <b>Private:</b>
  <%= @activity.private %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
